src/__pycache__
src/CoLoRProtocol/__pycache__
src/FrontendClient/__pycache__
src/Test/__pycache__
src/VPPPlugin/__pycache__
src/PageUI/__pycache__
.tmp/*
.gitignore
./*.json
*.log
.pytest_cache/*
.vscode/*
data.json